#{extends 'main.html' /}
#{set title:'Principal' /}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   
</head>
<body>
    <header class="header">
        <h1>Logue no site</h1>
        
    </header>

    <div class="separator"></div>

    <main>
        <div class="form-card">
            <h2>Login</h2>
            <form action="@{Logins.logar}" method="post">
                
       
                <div class="form-group">
                    <label for="iEmail">Email:</label>
                    <input type="email" id="iEmail" name="email" >
                </div>
                <div class="form-group">
                    <label for="iSenha">Senha:</label>
                    <input type="password" id="iSenha" name="senha" >
                </div>
                <button type="submit">entrar</button>
            </form>
            <a href="@{Gerenciamentos.formCadastro}"> <button type="submit">Novo cadastro</button></a>
        </div>
    </main>
</body>
</html>
